box, .Footer_Type_1, .Footer_Type_1 .ft1_head, .Footer_Type_1 .ft1_head .ft1h_title,
.Footer_Type_1 .ft1_head .ft1h_title_bg, .Footer_Type_1 .ft1_body, .Footer_Type_1 .ft1_body .ft1b_name, .Footer_Type_1 .ft1_body .ft1b_details, .Footer_Type_1 .ft1_body .ft1b_details .ft1bd_stripe, .Footer_Type_1 .ft1_body .ft1b_details .ft1bd_content, .Footer_Type_1 .ft1_body .ft1b_details .ft1bd_content .ft1bdc_item, .Footer_Type_1 .ft1_footer, .Footer_Type_1 .ft1_footer .ft1f_sm, .Footer_Type_1 .ft1_footer .ft1f_button {
  position: relative;
  box-sizing: border-box;
  z-index: 1; }

@font-face {
  font-family: built_titling;
  src: url(../../fonts/Antonio.ttf); }

@font-face {
  font-family: RobotoMono;
  src: url(../../fonts/RobotoMono.ttf); }

@font-face {
  font-family: pdreg;
  src: url(../../fonts/Palanquin_Dark/PalanquinDark-Regular.ttf); }

.Footer_Type_1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 200px 150px 100px; }
  .Footer_Type_1 .ft1_head {
    width: 100%;
    height: 200px; }
    .Footer_Type_1 .ft1_head .ft1h_title,
    .Footer_Type_1 .ft1_head .ft1h_title_bg {
      position: absolute;
      top: 0;
      left: 0;
      font-family: pdreg;
      font-size: 30px;
      line-height: 200px; }
    .Footer_Type_1 .ft1_head .ft1h_title_bg {
      font-size: 146px;
      color: rgba(0, 0, 0, 0.04);
      line-height: 150px; }
  .Footer_Type_1 .ft1_body {
    height: 180px;
    display: flex; }
    .Footer_Type_1 .ft1_body .ft1b_name {
      font-family: pdreg;
      font-size: 80px;
      flex: 6; }
    .Footer_Type_1 .ft1_body .ft1b_details {
      display: flex;
      flex: 5; }
      .Footer_Type_1 .ft1_body .ft1b_details .ft1bd_stripe {
        width: 48px;
        border-radius: 19px; }
      .Footer_Type_1 .ft1_body .ft1b_details .ft1bd_content {
        display: flex;
        flex: 1;
        flex-direction: column; }
        .Footer_Type_1 .ft1_body .ft1b_details .ft1bd_content .ft1bdc_item {
          flex: 1;
          display: flex;
          align-items: center;
          font-family: proreg;
          font-size: 25px;
          padding-left: 15px; }
          .Footer_Type_1 .ft1_body .ft1b_details .ft1bd_content .ft1bdc_item img {
            margin-left: -50px;
            margin-right: 30px; }
  .Footer_Type_1 .ft1_footer {
    display: flex;
    height: 100px;
    margin-top: 100px; }
    .Footer_Type_1 .ft1_footer .ft1f_sm {
      flex: 6; }
    .Footer_Type_1 .ft1_footer .ft1f_button {
      line-height: 85px;
      flex: 5;
      font-family: pdreg;
      text-align: center;
      font-size: 40px; }
