.Image_Fx_1 {
    display: flex;
    width: 100%;
    height: 100%;
    .ifx1_container{
        display: flex;
        width: 100%;
        height: 100%;
        transition: 1s;
        img {
            max-height: 100%;
        }
    }
}