box, .Landing_Type_2, .Landing_Type_2 .lt2_header, .Landing_Type_2 .lt2_content, .Landing_Type_2 .lt2_left, .Landing_Type_2 .lt2_left .lt2l_title_1, .Landing_Type_2 .lt2_left .lt2l_title_2, .Landing_Type_2 .lt2_left .lt2l_title_3, .Landing_Type_2 .lt2_left .lt2l_desc, .Landing_Type_2 .lt2_left .lt2l_button, .Landing_Type_2 .lt2_left .lt2l_button .lt2l_button_inner, .Landing_Type_2 .lt2_right, .Landing_Type_2 .lt2_right .lt2r_img, .Landing_Type_2 .lt2_right .lt2r_bg {
  position: relative;
  box-sizing: border-box;
  z-index: 1; }

@font-face {
  font-family: proreg;
  src: url(../../fonts/proxima_ssv/ProximaNovaRegular.otf); }

@font-face {
  font-family: probold;
  src: url(../../fonts/proxima_ssv/ProximaNovaBold.otf); }

@font-face {
  font-family: Offside;
  src: url(../../fonts/Offside/Offside-Regular.ttf); }

@font-face {
  font-family: pdsm;
  src: url(../../fonts/Palanquin_Dark/PalanquinDark-SemiBold.ttf); }

@font-face {
  font-family: pdreg;
  src: url(../../fonts/Palanquin_Dark/PalanquinDark-Regular.ttf); }

.Landing_Type_2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .Landing_Type_2 .lt2_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    overflow: hidden; }
  .Landing_Type_2 .lt2_left {
    display: flex;
    flex: 5;
    flex-direction: column;
    padding-left: 150px;
    justify-content: center; }
    .Landing_Type_2 .lt2_left .lt2l_title_1 {
      font-size: 68px;
      font-family: Offside;
      line-height: 100%; }
    .Landing_Type_2 .lt2_left .lt2l_title_2 {
      font-size: 74px;
      font-family: pdsm;
      line-height: 110%; }
    .Landing_Type_2 .lt2_left .lt2l_title_3 {
      font-size: 36px;
      font-family: proreg;
      line-height: 160%; }
    .Landing_Type_2 .lt2_left .lt2l_desc {
      font-size: 20px;
      font-family: proreg;
      padding-right: 50px; }
    .Landing_Type_2 .lt2_left .lt2l_button {
      margin-top: 30px; }
      .Landing_Type_2 .lt2_left .lt2l_button .lt2l_button_inner {
        float: left;
        font-size: 19px;
        font-family: probold;
        line-height: 57px;
        border-radius: 20px;
        padding: 0 60px;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        cursor: pointer; }
  .Landing_Type_2 .lt2_right {
    display: flex;
    flex: 7;
    flex-direction: column; }
    .Landing_Type_2 .lt2_right .lt2r_img {
      display: flex;
      flex: 1;
      align-items: flex-end;
      padding-left: 100px; }
    .Landing_Type_2 .lt2_right .lt2r_bg {
      position: absolute;
      right: -10%;
      bottom: -10%;
      top: 0;
      width: 70%;
      z-index: -1;
      transform: rotate(11deg); }
