.Header_Type_1 {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
    padding-top: 80px;
    .ht1_button {
        @extend box;
        padding: 0 30px;
        font-family: proreg;
        font-size: 19px;
        height: 46px;
        line-height: 46px;
        font-weight: 700;
        cursor: pointer;
    }
    .ht1_button.-d{
        border: 2px solid #eee;
        border-radius: 20px;
    }
}