box, .Landing_Type_1, .Landing_Type_1 .lt1_left, .Landing_Type_1 .lt1_right, .Landing_Type_1 .lt1_logo, .Landing_Type_1 .lt1_des, .Landing_Type_1 .lt1_des .lt1d_title, .Landing_Type_1 .lt1_des .lt1d_desc, .Landing_Type_1 .lt1_name, .Landing_Type_1 .lt1_name .lt1n_1,
.Landing_Type_1 .lt1_name .lt1n_2, .Landing_Type_1 .lt1_button_container {
  position: relative;
  box-sizing: border-box;
  z-index: 1; }

@font-face {
  font-family: built_titling;
  src: url(../../fonts/Antonio.ttf); }

@font-face {
  font-family: RobotoMono;
  src: url(../../fonts/RobotoMono.ttf); }

.Landing_Type_1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; }
  .Landing_Type_1 .lt1_left {
    flex: 1;
    padding-left: 80px;
    z-index: 10; }
  .Landing_Type_1 .lt1_right {
    flex: 2;
    overflow: hidden; }
    .Landing_Type_1 .lt1_right img {
      max-height: 100%; }
  .Landing_Type_1 .lt1_logo {
    margin: 80px 0;
    width: 100px;
    height: 100px;
    font-family: RobotoMono;
    text-align: center;
    line-height: 95px;
    border-width: 3px;
    font-size: 40px;
    border-style: solid; }
  .Landing_Type_1 .lt1_des {
    margin-top: 20px;
    font-family: RobotoMono; }
    .Landing_Type_1 .lt1_des .lt1d_title {
      width: 100%;
      padding: 10px 0;
      font-size: 40px; }
    .Landing_Type_1 .lt1_des .lt1d_desc {
      width: 80%;
      padding: 10px 0;
      font-size: 20px;
      line-height: 140%; }
  .Landing_Type_1 .lt1_name {
    position: absolute;
    bottom: 0;
    left: 80px;
    right: 0;
    text-align: left;
    padding: 0 0 50px 0;
    font-family: built_titling; }
    .Landing_Type_1 .lt1_name .lt1n_1,
    .Landing_Type_1 .lt1_name .lt1n_2 {
      width: 100%;
      font-size: 100px;
      line-height: 105%; }
    .Landing_Type_1 .lt1_name .lt1n_2 {
      font-size: 160px;
      text-transform: uppercase; }
  .Landing_Type_1 .lt1_button_container {
    position: absolute;
    display: flex;
    bottom: 150px;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    z-index: 20;
    justify-content: center;
    flex-direction: row; }
    .Landing_Type_1 .lt1_button_container span {
      font-family: RobotoMono;
      height: 50px;
      padding: 0 40px;
      line-height: 50px;
      border-width: 3px;
      font-size: 25px;
      border-style: solid;
      transition: 0.3s;
      cursor: pointer; }
